/* general */
:root{
    --blue-btn: #0062ff;
    --heavenly-bg: #b4d0e7;
    --blk: black;
    --wt: white;
    --lightgreen: #a2d39b;
    --bordeaux: #61082b;
    --lighblue: #0093ce;
    --red-orange: #ff1c1c;
    --red: #d5001f;
    --deepblue: #0d2481;
    --yellow: #ffd830;
    --lightgrey: lightgrey;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* repetitive stuff */
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}
.container-small{
    max-width: 1000px;
    margin: 100px auto;
}
li{
    list-style: none;
}
.btn{
    background-color: var(--blue-btn);
    color: var(--wt);
    text-decoration: none;
    padding: 1em;
}
.btn:hover{
    background-color: #2779fd;
}
h2{
    font-size: 30px;
}
.cntr-col{
    margin: 50px 0;
    width: calc((100% - 100px) / 3);
    border: 1px solid var(--lightgrey);
}
h3{
    font-size: 20px;
}
.f-start{
    align-items: flex-start;
}
.lightgreen{
    background-color: var(--lightgreen);
    box-shadow: inset 0px 0px 15px 10px #d1e9cd;
}
.bordeaux{
    background-color: var(--bordeaux);
}
.lightblue{
    background-color: var(--lighblue);
}
.orange{
    background-color: var(--red-orange);
}
.red{
    background-color: var(--red);
}
.bg-heavenly{
    background-color: var(--heavenly-bg);
}
.blue{
    background-color: var(--deepblue);
}
.yellow{
    background-color: var(--yellow);
}
/* specific selection  */


/* top-section */
header nav{
    position:fixed;
    width:100%;
    height: 80px;
    top:0;
    left:0;
    z-index:1000;
    font-size: 13px;
    background-color: var(--wt);
}
.select{
    line-height: 78px;
}
.select:hover{
    padding-top: 2px;
    border-bottom: 2px solid var(--blk);
}
.bg-heavenly{
    background-color: var(--heavenly-bg);
}
h1{
    font-size: 80px;
    padding-bottom: 70px;
}
.hero .flex{
    align-items: flex-start;
}
.hero .container{
    position: relative;
    bottom: -80px;
}
.hero i{
    font-size: 50px;
    color: var(--blk);
}
.hero-txt{
    width:30%;
    font-size: 16px;
    line-height: 25px;
}
.hero-txt p{
    margin-bottom: 40px;
}
.hero-img{
    width:70%;
}
.hero img{
    width:100%;
}
.hero .icon{
    font-size: 40px;
}
.li-space li{
    padding: 0 20px;
}
.hero{
    margin-bottom: 150px;
}

/* section 1 prices-n-plans */
.radio-wrap{
    position: relative;
}
.sect-title{
    padding-top: 80px;
}
.radio-wrap input{
    opacity: 0;
    position: absolute;
    left:0;
    top: 0;
}
label{
    margin-left: 20px;
}
label:hover{
    cursor: pointer;
}
.rad-check{
    position: absolute;
    left:0;
    top: 0;
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid var(--lightgrey);
    border-radius: 50%;
}
.rad-check:hover{
    cursor: pointer;
    box-shadow: inset 0px 0px 3px 2px var(--lightgrey);
}
.radio-wrap input:checked ~ .rad-check{
    border: 4px solid var(--blue-btn);
}
.stretch{
    align-items: stretch;
}
.flex-col ul{
    margin-bottom: 27px;
    font-size: 12px;
}
.plans h2{
    margin-bottom: 70px;
}
.checkbox{
    margin-right: 40px;
    font-size: 12px;
}
input, label{
    line-height: 20px;
    vertical-align: middle;
}
.suggest{
    text-align: center;
    padding: 0.7em;
    font-size: 15px;
    border-bottom: 1px solid var(--lightgrey);
}
.suggest i{
    font-size: 13px;
}
.flex-col{
    border-top: 0;
    padding-left: 30px;
    padding-right: 10px;
}

.flex-col h3{
    margin: 35px 0 25px;
}
.flex-col .price{
    margin-bottom: 15px;
    font-weight: bold;

}
.grey-txt{
    opacity: 0.7;
}
.scnd, .frth{
    margin-left: 10px;
}
.scnd li{
    margin-bottom: 25px;
}
.trd li{
    margin-bottom: 35px;
}
.br-line{
    width: 50px;
    border: 1px solid var(--lightgrey);
    margin-bottom: 40px;
}
h5{
    font-size: 12px;
    margin-bottom: 25px;
}
.frth li{
    margin-bottom: 25px;
}
.li-dot{
    font-size: 14px;
}
.check{
    color: var(--blue-btn);
}
.bot-cell{
    border: 1px solid var(--lightgrey);
}

.team{
    padding: 25px;
    font-size: 12px;
}
.team .price{
    margin: 20px 0 55px;
    font-weight: bold;
}
/* section 2 partner */
.partner img{
    width: 70%;
}
.pt-txt{
    width: 25%;
    font-size: 14px;
}
.pt-txt h3{
    line-height: 30px;
    margin: 20px 0;
}
.pt-txt p{
    line-height: 20px;
    margin-bottom: 50px;
}
.special{
    border: 1px solid var(--blk);
    background-color: var(--wt);
    color: var(--blk);
}
.special:hover{
    box-shadow: inset 0px 0px 10px 3px var(--lightgrey);
    background-color: #f5f5f5;
}
/* third section */
.card{
    margin-top: 20px;
}
.wrapper{
    margin-top: 50px;
    flex-wrap: wrap;
    width: calc((100% - 90px) / 3);
    padding: 0;
    font-size: 14px;
    padding-right: 20px;
    line-height: 20px;
}
.wrapper img{
    width: 100%;    
}
/* fourth section */
.discover h2{
    font-size: 32px;
    margin-bottom: 65px;
    margin: 100px 0;
}
/* fifth section */
.special-container{
    width: calc(100vw - 17px);
    height: calc((100vw - 17px) / 3);
    background-color: red;
    align-items: flex-start;
    overflow: hidden;
}
.side-sqr{
    height: calc((100vw - 17px) / 3);
    width: calc((100vw - 17px) / 3);
    flex-wrap: wrap;

}
.txt-sqr{
    height: calc((100vw - 17px) / 3);
    width: calc((100vw - 17px) / 3);
    background-color: #f5f5f5;
    overflow-y: auto;
}
.logos{
    width: calc(100% / 2);
    height: calc(100% / 2);
    position: relative;
}
.side-sqr img {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}
.dsg-wrapper{
    width: 80%;
    margin: 10% auto 0;
    /* overflow-y: auto; */
}
.dsg-wrapper .br-line{
    margin-top: 40px;
    width: 80px;
}
.designit{
    height: 100px;
}
.designit img{
    width: 60%;
}
.scroll{
    margin-top: 10%;
    line-height: 20px;
    font-size: 16px;
}
/* sixth section */
.agencies{
    margin: 0 auto;
    height: 300px;
    color: var(--bordeaux);
    vertical-align: middle;
}
.agencies .btn{
    margin-top: -15px;
    padding: .9em 3em;
    background-color: var(--wt);
    color: var(--blk);
    border: 0;
}
/* seventh section / Q&A */
#qna-title{
    margin: 70px 0;
}
.bord{
    border-top: 1px solid var(--lightgrey);
    border-bottom: 1px solid var(--lightgrey);
}
.qna{
    padding: 30px 0;
    cursor: pointer;
}
.quest{
    font-size: 13px;
    font-weight: bold;
}
.answ{
    display: none;
}
.qna:active .answ{
    display: block;
    padding: 20px 0 0 20px;
    width: 80%;
    font-size: 13px;
}

/* footer */
 .foot-wrapper{
    background-color: var(--blk);
    color: var(--wt);
    font-size: 13px;
 }
 .lists{
    padding-bottom: 100px;
 }
 .lists h4{
    padding-bottom: 20px;
    font-size: 18px;
 }
 .lists ul{
    line-height: 30px;
 }
 .foot-wrapper .br-line{
    width: 100px;
 }
 .lang{
    width: 80px;
    padding-bottom: 40px;
    opacity: 0.7;
 }